configuration {
	display-drun : "Application: ";
	display-window: "Windows: ";
	drun-display-format: "{icon} {name}";
	font: "Firacode 15";
	modi: "window,run,drun";
	show-icons: true;
	icon-theme: "Papirus";

}
//@theme "/usr/share/rofi/themes/arthur.rasi"

//@theme "/home/bd26/.config/rofi/themes/docu.rasi"
@theme "/home/bd26/.config/rofi/themes/arthur.rasi"
